

/* Desktop Devices */



@media only screen and (max-width: 1920px) {

	div#mainHeader {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  div#mainHeader > h1 {
    letter-spacing: 2px;
    font-size: 80px;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
  }

  div#mainHeader > h3 {
  	color: #ffffff;
  	text-transform: uppercase;
    font-size: 40px;

  }

  #navbarSupportedContent > ul > li {
    margin: 0 10px;
  }

  #navbarSupportedContent > ul > li > a:hover {
    text-decoration: underline;

  } 

  /* ABOUT */

  #aboutContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #aboutContent h2 {
    text-align: left;
    text-transform: uppercase;
    color: #00c6a5;
    font-size: 50px;
    padding: 20px 0;
  }

  #downloadCV {
    margin-top: 40px;
  }

  #downloadCV a {
    background-color: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  #downloadCV a:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #333333;
  }

  #aboutImage {
    margin-top: auto;
    margin-bottom: auto;

  }

  #aboutImage img {
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 5px #333333;
  }

  .align-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #profileContent > p {
    margin-top: 25px;
    font-size: 1.2em;
    padding: 15px;
  }


   /* Portfolio */

  #portfolio-wrapper h2 {
    text-align: center;
    text-transform: uppercase;
    color: #00c6a5;
    font-size: 50px;
    padding: 20px 0;
  }

  .card {
    margin: 10px 0;
  }

  .card img {
    height: 250px;
    object-fit: cover;
  }

  /* Footer */

  div#footerWrapper {
    background-color: #333;
    height: 15vh;
    color: #fff;
  }

  div#footerLeft {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;  
  }

