

/* Desktop Devices */



@media only screen and (min-width: 961px) {

	div#mainHeader {
		/*border: 1px solid #fff;*/
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 170%);
	}

	div#socialLinks > ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	div#socialLinks > ul > li {
		display: inline;
		margin: 10px;
	}
	div#socialLinks > ul > li > a {
		font-size: 40px;
	}

	/* About */

	div#aboutLeft > h3 {
		background-color: #b84f4b;
		color: #fffeee;
		width: 40%;
		text-align: center;
		margin-bottom: 25px;
	}
	div#aboutLeft > h5,
	div#aboutRight > h5 {
		font-weight: 700;
	}

	div#aboutCenter > button {
		text-align: center;
		display: block;
		margin: 0 auto;
		background-color: #00A86B;
		color: #fff;
	}

	p#aboutDeveloper {
		padding: 15px;
		text-align: center;
	}

	div#aboutRight > h3 {
		background-color: #b84f4b;
		color: #fffeee;
		width: 40%;
		text-align: center;
		margin-bottom: 25px;
	}

	/* Skills */

	div.progress {
		width: 60%;
		margin: 0 auto;
	}

	/* Projects */

	div#projectsWrapper {
		padding-bottom: 40px;
	}

	div.projectContent > p {
		padding-top: 25px;
		padding-left: 25px;
	}
	.btn-visit {
		margin-left: 25px;
	}

	/* Contact */

	div#contactForm {
		width: 80%;
		margin: 0 auto;
	}
}
