

/* Desktop Devices */



@media only screen and (min-width: 1280px) {


  #header {
    background: transparent;
    color: #fff;
    height: 15vh;
    line-height: 10vh;
  }

	div#mainHeader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  div#mainHeader > h1 {
  	font-family: 'Chela One', cursive;
    letter-spacing: 2px;
    font-size: 50px;
  	color: #e1e8f0;
  }

   div#mainHeader > h3 {
  	color: #fff;
  	text-transform: uppercase;
    font-size: 20px;

  }

  #navbarSupportedContent > ul > li {
    margin: 0 10px;
  }

  #navbarSupportedContent > ul > li > a:hover {
      text-decoration: underline;

  }

  /*
   *
   * About Section
   *
   */

    #aboutSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 10vh;
    width: 50vw;
    text-align: center;
  }

   .align-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

   #profileContent > p {
    margin-top: 25px;
    font-size: 1.2em;
    padding: 15px;
    width: 60vw;
    text-align: justify;
  }

   #profileImage {
    height: 190px;
    width: 190px;
    display: block;
    margin: 0 auto;
  }

  /*
   *
   * Develop Section
   *
   */

   #developSection {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 #developSection  p {
    text-align: center;
 }

 /*
  *
  * project Section
  *
  */

 #capstoneProjects {
    height: 80vh;
 }

 .capstone-section > img {
    height: 200px;
    width: 300px;
    display: block;
    margin: 0 auto;
  }

  .capstone-info {
    height: 150px;
  }

  .capstone-section  div {
    text-align: center;
  }

  #capstoneProjects h4 {
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    padding: 15px;
  }

  #capstoneProjects p {
      text-align: justify;
  }

  .capstone {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    display: block;
  }

 /*
  *
  * Contact Section
  *
  */

  div#contactForm {
    width: 60%;
    margin: 0 auto;
    padding: 15px;
  }

  form#contactMe > button {
    background-color: #00A86B;
    border: none;
  }

  /*
   *
   * Footer Section
   *
   */

   div#footerWrapper {
    background-color: #333;
    height: 15vh;
    color: #fff;
  }

  div#footerLeft {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;  
  }

  div#footerLeft p {
    margin-bottom: 0;
  }

