

/* Mobile Devices */

@media only screen and (max-width: 400px) {


	 #mainWrapper {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/banner.jpg');
    background-position: right;
    background-size: cover;
    min-height: 50vh;
    }

	 .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,229,229)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

   .navbar .show {
      background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
      text-align: center;
      color: #fff;
      z-index: 1;
   }

   #mainHeader {
    margin-top: 10vh;
   }

 div#mainHeader > h1 {
  	font-family: 'Chela One', cursive;
    letter-spacing: 2px;
    font-size: 30px;
  	color: #e1e8f0;
  }

   div#mainHeader > h3 {
  	color: #fff;
  	text-transform: uppercase;
    font-size: 8px;

  }

  /*
   *
   * About
   *
   */

  #aboutSection {
    display: flex;
    align-items: center;
    justify-content: justify;
    flex-direction: column;
    min-height: 80vh;
    width: 100vw;
    margin: 20px 0;

  }

  #profileImage {
  	display: block;
  	padding-top: 15px;
  	height: 180px;
  }


   #profileContent > p {

    font-size: 1.2em;
    width: 100%;
    text-align: center;

  }

  #downloadCV {
    width: 100%;
    display: block;
    text-align: center;
  }

  /*
   *
   * Design Section
   *
   */

   #designSection {
    text-align: center;
   }

   /*
   *
   * Develop Section
   *
   */

   #developSection {
    text-align: center;
   }

   /*
    *
    * Projects
    *
    */

    .capstone-section {
      padding-bottom: 20px;
    }


  /*
   *
   * Contact
   *
   */

   div#contactForm {
    width: 100%;
    padding: 15px;
  }

  form#contactMe > button {
    background-color: #00A86B;
    border: none;
    width: 100%;
  }

  /*
   *
   * Footer
   *
   */

   div#footerWrapper {
    background-color: #333;
    min-height: 15vh;
    color: #fff;
  }

  div#footerLeft {
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   div#footerLeft > p {
    
    line-height: 18vh;
   }
