/*
 *
 * CSS Reset
 *
 */

 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

 body {
 	color: #222;
 	font-family: 'Open Sans', sans-serif;
 }

.text-style {
  color: #ea3057;
  text-align: center;
  width: 103%;
 }

 .increase {
  font-size: 45px;
 }

 .page-separator {
  min-height: 100vh;
 }




 /*
  *
  * General Rules
  *
  */

  /* Navigation Bar */

  #header {
    background: transparent;
    color: #fff;
    height: 15vh;
    line-height: 10vh;
  }

  #header .navbar-brand {
    color: #fff;
  }

  #header .nav-link {
    color: #fff;
  }



  #mainWrapper {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/banner.jpg');
    background-position: right;
    background-size: cover;
  }

  span#webDev {
    border-right: 2px solid #fffeee;
    padding-right: 5px;
    color: #ea3057;
  }

 
  div#mainHeader > button {
  	margin: 10px;
  	text-transform: uppercase;

  }
  button#hireButton {
    background-color: #151a1d;
    color: #fff;
    border: 1px solid #669297;
  }


  /* About */


  #profileContent {
    margin-top: 25px;
  }

  #downloadCV {
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 10px;

  }

  #downloadCV:hover {
    text-decoration: none;
  }

  /* Design Section */


 #designDisplay {
  
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #designDisplay > i {
  font-size: 140px;
  color: #2D2D2D;
 }

 #designSection {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

  #designSection > h2 {
     font-family: 'Montserrat', sans-serif;
      letter-spacing: 5px;
      font-size: 50px;
  }

 p#designContent {
  text-align: center;
  padding: 25px;
  font-size: 20px;
 }
 



/* Develop Section */



 #developDisplay {
  
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #developDisplay > i {
  font-size: 140px;
  color: #2D2D2D;
 }



  #developSection > h2 {
     font-family: 'Montserrat', sans-serif;
      letter-spacing: 5px;
      font-size: 50px;
  }


 p#developContent {
  text-align: center;
  padding: 25px;
  font-size: 20px;
 }

  /* Projects */

  div#projectWrapper {
    background-color: #D7D7D7;
  }

  div#projectHeader {
    text-align: center;
   font-family: 'Montserrat', sans-serif;
    padding: 15px;
    height: 20vh;
  }
  div#projectHeader > h2 {
    color: #2d2d2d;
    line-height: 15vh;
    letter-spacing: 5px;
    font-size: 50px;
  }

  #capstoneProjects {

    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .capstone-section > img {
    height: 200px;
    width: 300px;
    display: block;
    margin: 0 auto;
  }

  .capstone-info {
    height: 150px;
  }

  .capstone-section  div {
    text-align: center;
  }

  #capstoneProjects h4 {
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    padding: 15px;
  }

  #capstoneProjects p {
      text-align: justify;
  }

  .capstone {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    display: block;
  }

  /* Contact */

  div#contactHeader {
    padding: 15px;
  }

  textarea#formMessage {
    max-height: 100px;
    min-height: 100px;
  }

  #contact {
    height: 80vh;
  }

  #mainWrapperContact {
    background: #333;
  }

  #contactHeader {
    font-weight: bolder;
  }

 form#contactMe > button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
  }
  
  form#contactMe > button:hover {
    background: #aaa;
    color: #333;
    cursor: pointer;
  }

 
  /* Footer */

 
  div#footerRight > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#footerRight > ul > li {
    display: inline-block;
    padding: 15px;
  }
  div#footerRight > ul > li > a {
    font-size: 1.2em;
  }

  
  